**/.idea/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
dist/
htmlcov/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
instance/
.venv
venv/
venv.bak/
.vscode/*
!.vscode/settings.json
